.row
  .col-md-6.col-md-offset-3
    p#notice
      = notice
    .col-md-7.col-md-offset-3 
      h1 My basket
    table.table.table-striped border='5'
      thead
        tr
          th ID
          th Title
          th SKU
          th Description
          th Price
          th Show
          th Edit
          th Destroy
          th Category
          th Picture
          th Quantity
      tbody  class="table table-striped"
        - @baskets.each do |basket|
          tr
            td
              = basket.product.id
            td
              = basket.product.title
            td
              = basket.product.sku
            td
              = basket.product.description
            td
              = basket.product.price
            td
              = link_to 'Show', basket_path(basket), class: "btn btn-info"
            td
              = link_to 'Edit', basket_product_path(basket), class: "btn btn-warning"
            td
              = link_to 'Delete', basket_path(basket), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
            td
              - if basket.product.category
                = link_to basket.product.category.title, category_path(basket.product.category)
              - else
                | No category
            td
              - if basket.product.picture.length > 0 
                = image_tag basket.product.picture.thumb
              - else
                | No picture
            td = basket.products.count

  br
  = link_to 'All products', products_path, class: 'btn btn-success'
  br
  = link_to 'All categories', categories_path