h2 Sign up

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  div class="field"
    = f.label :email
    br
    = f.email_field :email, autofocus: true

  div class="field"
    = f.label :password
    - if @minimum_password_length
      em = @minimum_password_length
      br
      = f.password_field :password, autocomplete: "off"

  div class="field"
    = f.label :password_confirmation
    br
    = f.password_field :password_confirmation, autocomplete: "off"

  div class="actions"
    = f.submit "Sign up"

= render "devise/shared/links"