.row.col-md-5.col-md-offset-4
  h2 Log in

  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .form-group.has-success.has-feedback
      = f.label :email
      br
      = f.email_field :email, autofocus: true

    .control-label
      = f.label :password
      br
      = f.password_field :password, autocomplete: "off"

    - if devise_mapping.rememberable?
      div class="field"
        = f.check_box :remember_me
        = f.label :remember_me
      
    div
      = f.submit "Log in"

  = render "devise/shared/links"