= form_for [:admin, @category] do |f|
  - if @category.errors.any?
    #error_explanation
      h2
        = pluralize(@category.errors.count, "error")
        | prohibited this category from being saved:
      ul
        - @category.errors.full_messages.each do |message|
          li = message
  
  = f.file_field :picture
  
  div
    = f.label :title
    br
    = f.text_field :title
  
  div.actions
    = f.submit