p#notice
  = notice

h1 Listing Categories

table border="1"
  thead
    tr
      th ID
      th Title
      th Products
      th Picture
      th colspan="3" Actions
  tbody
    - @categories.each do |category|
      tr
        td
          = category.id
        td
          = category.title
        td
          = category.products.count
        td
          - if category.picture.length > 0
            = image_tag category.picture.thumb
          - else
            | No picture
        td
          = link_to 'Show', admin_category_path(category)
        td
          = link_to 'Edit', edit_admin_category_path(category)
        td
          = link_to 'Delete', admin_category_path(category), method: :delete, data: { confirm: 'Подумай двійчі!!!!' }

br

= link_to 'New category', new_admin_category_path
br
= link_to 'All products', admin_products_path