p#notice
  = notice

h1 Listing Categories

table border="1"
  thead
    tr
      th ID
      th Title
      th Show
      th Edit
      th Delete
      th Products
      th Picture
  tbody
    tr
      td
       = @category.id
      td
       = @category.title
      td
       = link_to 'Show', admin_category_path(@category)
      td
       = link_to 'Edit', edit_admin_category_path(@category)
      td
       = link_to 'Delete', admin_category_path(@category), method: :delete, data: { confirm: 'Подумай двійчі!!!!' }
      td
       = @category.products.count
      td
        - if @category.picture.length
          = image_tag @category.picture.thumb
        - else
          | No picture

div.actions
  = link_to 'Back', admin_categories_path