= form_for [:admin, @product] do |f| 
  - if @product.errors.any?
    div#error_explanation
      h2 = pluralize(@product.errors.count, "error") 
      | prohibited this product from being saved:
      ul
        - @product.errors.full_messages.each do |message| 
          li = message
  
  div
    = f.file_field :picture
  
  div
     = f.label :title
     br
     = f.text_field :title
  
  div
    = f.label :sku
    br
    = f.text_field :sku
  
  div
     = f.label :description
     br
     = f.text_field :description
   
  div
    = f.label :price
    br
	=f.number_field :price, step: 0.01
  
  div
    = f.label :category 
    br
    = f.collection_select :category_id, Category.all, :id, :title, { include_blank: true }
  
  div.actions
    = f.submit  