.row
  .col-md-6.col-md-offset-3
    p#notice
      = notice
    .col-md-7.col-md-offset-3 
      h1 Listing Products
    table.table.table-striped border='5'
      thead
        tr
          th ID
          th Title
          th SKU
          th Description
          th Price
          th Show
          th Edit
          th Destroy
          th Category
          th Picture
      tbody  class="table table-striped"
        - @products.each do |product|
          tr
            td
              = product.id
            td
              = product.title
            td
              = product.sku
            td
              = product.description
            td
              = product.price
            td
              = link_to 'Show', admin_product_path(product), class: "btn btn-info"
            td
              = link_to 'Edit', edit_admin_product_path(product), class: "btn btn-warning"
            td
              = link_to 'Delete', admin_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
            td
              - if product.category
                = link_to product.category.title, admin_category_path(product.category)
              - else
                | No category
            td
              - if product.picture.length > 0 
                = image_tag product.picture.thumb
              - else
                | No picture

  br
  = link_to 'New Product', new_admin_product_path, class: 'btn btn-success'
  br
  = link_to 'All categories', admin_categories_path