p#notice
= notice
h1 Listing Products
table border='5'
  thead
    tr
      th ID
      th Title
      th SKU
      th Description
      th Price
      th Show
      th Edit
      th Destroy
      th Category
      th Picture
  tbody
    tr
      td = @product.id
      td = @product.title
      td = @product.sku
      td = @product.description
      td = @product.price
      td = link_to 'Show', admin_product_path(@product)
      td = link_to 'Edit', edit_admin_product_path(@product)
      td = link_to 'Delete', admin_product_path(@product), method: :delete, data: { confirm: 'Are you sure?' }
      td
        - if @product.category
          = link_to @product.category.title, admin_category_path(@product.category)
        - else
          | No category
      td
        - if @product.picture.length > 0
          = image_tag @product.picture.thumb
        - else
          | No picture

.btn.btn-success
  = link_to 'Back', admin_products_path