p#notice
  = notice 

h1 Listing Categories

table border="1"
  thead
    tr
      th ID
      th Title
      th Products
      th Picture
      th Show
  tbody
    - @categories.each do |category|
      tr
        td = category.id
        td = category.title
        td = category.products.count
        td
          - if category.picture.length > 0
            = image_tag category.picture.thumb
          - else
           | No picture
        td
          = link_to 'Show', category_path(category)
           
br
= link_to 'All products', products_path
br
= link_to 'If you admin', admin_categories_path