p#notice
= notice
table border="2"
  thead
    tr
      th Title
      th Count of Products
      th Picture
  tbody
    tr
      td = @category.title
      td = @category.products.count
      td
        - if @category.picture.length > 0
          = image_tag @category.picture.thumb
        - else
          | No picture

div.actions
  = link_to 'Back', categories_path