p#notice 
  = notice

h1 Listing Products

table border='5'
  thead
    tr
      th ID
      th Title
      th SKU
      th Description
      th Price
      th Category
      th Picture
  tbody
    - @products.each do |product|
      tr
        td = product.id
        td = product.title
        td = product.sku
        td = product.description
        td = product.price
        td
          - if product.category
            = link_to product.category.title, category_path(product.category)
          - else
            | No category
        td
          - if product.picture.length > 0
            = image_tag product.picture.thumb
          - else
            | No picture
            
            
br
= link_to 'All categories', categories_path