p#notice
  = notice

table border="2"
  thead
    tr
      th Title
      th SKU
      th Description
      th Price
      th Category
      th Picture
  tbody
    tr
      td = @product.title
      td = @product.sku
      td = @product.description %></td>
      td = @product.price
      td
        - if @product.category
          = @product.category.title
        - else
         | No Category
      td
          - if @product.picture.length > 0
            = image_tag @product.picture.thumb
          - else
            | No picture

div.actions
  = link_to 'Back', products_path