doctype html
html
  head
    title Store
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    
  body
    .row.col-md-6.col-md-offset-3
      - if user_signed_in?
        = link_to 'Sign Out', destroy_user_session_path, method: :delete
      - else
        = link_to 'Sign In', new_user_session_path
    br
    
    = yield